<h2>Curl Example</h2>

<pre lang="bash">
$ curl -n <%= example[:request] -%><%- unless example[:http_headers].empty? %> \<%- end -%>
<%- if !example[:data].nil? %>
  <%= example[:data] -%>
<%- end -%>
<%- example[:http_headers].each do |key, value| %>
  -H "<%= key %>: <%= value %>"<%- if key != example[:http_headers].keys.last %> \<%- end -%>
<%- end %>
</pre>
